// Bootstrap
@import 'bower_components/bootstrap/less/bootstrap.less';

body {
	width: 1100px;
	font-family: 'Averia Sans Libre', cursive;
}

.top-img {
	width: 300px;
	margin-left: 10px;
	margin-top: 20px;
	border: 1px solid tomato;
}

.btn {
	background-color: tomato;
	color: white;
	margin: 5px;
}

.move-up {
	margin-top: -150px;
}


.project-field {
	font-weight: bold;
}

.reach-out-list{
	list-style: none;
	display: inline;
	padding: 0;
}

h1, h2, h3 {
	text-align: center;
}

@media (max-width: 990px){
	.move-up {
		margin-top: 0;
	}
	body {
		width: 100%;
		font-family: 'Averia Sans Libre', cursive;
	}

	.top-img {
		width: 100%;
		margin: 0;
		border: 1px solid tomato;
	}
}
